<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instrument_types</key>
	<array>
		<string>Wind_insruments_table_header_title</string>
		<string>Stringed_insruments_table_header_title</string>
		<string>Percussion_insruments_table_header_title</string>
		<string>Keyboard_insruments_table_header_title</string>
	</array>
	<key>instruments</key>
	<dict>
		<key>violin</key>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>description</key>
			<string>violin_description</string>
			<key>image</key>
			<string>violin</string>
			<key>name</key>
			<string>violin_name</string>
		</dict>
		<key>xylophone</key>
		<dict>
			<key>type</key>
			<integer>3</integer>
			<key>description</key>
			<string>xylophone_description</string>
			<key>image</key>
			<string>xylophone</string>
			<key>name</key>
			<string>xylophone_name</string>
		</dict>
		<key>trumpet</key>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>description</key>
			<string>trumpet_description</string>
			<key>image</key>
			<string>trumpet</string>
			<key>name</key>
			<string>trumpet_name</string>
		</dict>
		<key>trombone</key>
		<dict>
			<key>type</key>
			<integer>0</integer>
			<key>description</key>
			<string>trombone_description</string>
			<key>image</key>
			<string>trombone</string>
			<key>name</key>
			<string>trombone_name</string>
		</dict>
		<key>tambourine</key>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>description</key>
			<string>tambourine_description</string>
			<key>image</key>
			<string>tambourine</string>
			<key>name</key>
			<string>tambourine_name</string>
		</dict>
		<key>piano</key>
		<dict>
			<key>type</key>
			<integer>3</integer>
			<key>description</key>
			<string>piano_description</string>
			<key>image</key>
			<string>piano</string>
			<key>name</key>
			<string>piano_name</string>
		</dict>
		<key>harp</key>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>description</key>
			<string>harp_description</string>
			<key>image</key>
			<string>harp</string>
			<key>name</key>
			<string>harp_name</string>
		</dict>
		<key>guitar</key>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>description</key>
			<string>guitar_description</string>
			<key>image</key>
			<string>guitar</string>
			<key>name</key>
			<string>guitar_name</string>
		</dict>
		<key>drumkit</key>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>description</key>
			<string>drumkit_description</string>
			<key>image</key>
			<string>drumkit</string>
			<key>name</key>
			<string>drumkit_name</string>
		</dict>
		<key>electro_guitar</key>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>description</key>
			<string>electro_guitar_description</string>
			<key>image</key>
			<string>electro_guitar</string>
			<key>name</key>
			<string>electro_guitar_name</string>
		</dict>
	</dict>
</dict>
</plist>
